.border_frame{
    border: solid 20px black;
    text-align: center;
}

.border_MediumSpringGreen{
    border-color: MediumSpringGreen;
}

.border_LightSeaGreen{
    border-color: LightSeaGreen;
}

.border_LightYellow{
    border-color: LightYellow;
}

.border_Orchid{
    border-color: Orchid;
}

.border_Gray{
    border-color: Gray;
}

.border_Chocolate{
    border-color: Chocolate;
}
