body {
    margin: 0;
    padding: 0;
}

.VotesBlock {
    border: double gray 3px;
    width: 90%;
    padding: 3px 7px;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.VotesBlock .Caption {
    font-weight: bold;
}

.VotesBlock .Catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    width: 100%;
}

.VotesBlock .Catalog .Product:nth-child(odd) {
    background: rgb(147, 147, 153);
}

.VotesBlock .Catalog .Product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.VotesBlock .Catalog .Product .Product_name,
.VotesBlock .Catalog .Product .Product_count,
.VotesBlock .Catalog .Product .Product_price,
.VotesBlock .Catalog .Product .Product_residue {
    width: 25%;
    text-align: center;
}